@font-face {
  font-family: NeuroPolitical;
  src: url('../Fonts/neuropolitical.ttf');
}

body {
  background-color: black;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}
