#cartContainer {
  position: absolute;
  width: 95%;
  top: 85px;
  left: 2.5%;
  bottom: 2.5%;
  background-color: rgb(255, 255, 255, 0.15);
  border-radius: 25px;
  z-index: 4;
}

#confirmationContainer {
  position: absolute;
  width: 95%;
  top: 85px;
  left: 2.5%;
  bottom: 2.5%;
  background-color: rgb(255, 255, 255, 0.85);
  border-radius: 25px;
  z-index: 4;
}

#itemsContainer {
  position: absolute;
  width: 90%;
  height: 80%;
  top: 20px;
  left: 5%;
  overflow: hidden;
  overflow-y: scroll;
  flex-direction: column;
}

#itemsContainer::-webkit-scrollbar {
  display: none;
}

#cartItem {
  background-color: rgba(255, 255, 255, 0.8);
  color: #444;
  font-size: 2rem;
  width: 100%;
  height: 200px;
  border-radius: 25px;
  margin-top: 20px;
}

#confirmItem {
  background-color: transparent;
  color: #444;
  font-size: 2rem;
  width: 100%;
  height: 200px;
  border-radius: 25px;
  margin-top: 20px;
}

#removeButton {
  font-size: 1.5rem;
  background-color: transparent;
  color: #444;
  width: 40px;
  height: 40px;
  border-radius: 200px;
  transform: rotate(45deg);
  outline: none;
  border-width: 1;
  border-color: #444;
  border-style: solid;
  margin-top: 76.5px;
  margin-left: 92.5%;
  transition: background-color 0.25s color 0.25s box-shadow 0.25s;
}

#removeButton:hover {
  background-color: rgb(245, 141, 141);
  color: white;
  border-width: 0;
  box-shadow: 0px 0px 20px -10px #000;
}

#cartItemImage {
  height: 95%;
  width: 200px;
  margin-top: -111.5px;
  margin-left: 5px;
  border-radius: 25px 0px 0px 25px;
  object-fit: cover;
}

#cartItemName {
  color: #444;
  text-align: left;
  font-size: 2rem;
  width: 90%;
  margin-left: 230px;
  margin-top: -165px;
}

#cartItemDescription {
  color: #444;
  text-align: left;
  font-size: 0.9rem;
  width: 90%;
  margin-left: 230px;
  margin-top: -15px;
}

#chooseQuantityCart {
  background-color: rgb(255, 255, 255, 0.5);
  color: #444;
  padding-left: 30px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  width: 80px;
  height: 40px;
  line-height: 50px;
  left: 0px;
  margin-top: 10px;
  margin-left: 230px;
  border-radius: 500px;
  border-width: 0px;
  border-style: solid;
  outline: none;
  cursor: pointer;
  transition: background-color 0.25s;
}

#singleItemPrice {
  color: #444;
  text-align: right;
  font-size: 1.75rem;
  font-weight: 600;
  width: 90%;
  margin-right: 7.5%;
  margin-top: -102.5px;
}

#totalItemPrice {
  color: #444;
  text-align: right;
  font-size: 1.25rem;
  font-weight: 300;
  width: 90%;
  margin-right: 7.5%;
  margin-top: -15px;
}

#totalCartPrice {
  position: absolute;
  color: white;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 300;
  width: 50%;
  right: 5%;
  margin-right: 220px;
  bottom: 4.5%;
}

#totalConfirmationPrice {
  position: absolute;
  color: #444;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 300;
  width: 50%;
  right: 5%;
  margin-right: 220px;
  bottom: 4.5%;
}

#emptyCart {
  position: absolute;
  font-size: 3rem;
  color: white;
  font-family: NeuroPolitical;
  text-align: center;
  width: 100%;
  height: 20px;
  line-height: 20px;
  top: 45%;
  margin-top: -10px;
}

#checkoutLink {
  position: absolute;
  width: 200px;
  height: 60px;
  line-height: 45px;
  right: 5%;
  bottom: 5%;
}

#checkoutButton {
  position: absolute;
  background-color: rgb(57, 163, 192, 0.6);
  color: white;
  text-align: center;
  font-size: 1rem;
  font-family: NeuroPolitical;
  width: 200px;
  height: 60px;
  line-height: 45px;
  right: 0px;
  border-radius: 500px;
  border-width: 0px;
  border-style: solid;
  outline: none;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
}

#checkoutButton:hover {
  background-color: rgb(57, 163, 192, 0.95);
  color: white;
}

#successContainer {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 50px;
  z-index: 4;
}

#success {
  position: absolute;
  font-size: 5rem;
  color: white;
  font-family: NeuroPolitical;
  text-align: center;
  width: 100%;
  height: 50%;
  top: 30%;
}

#successLink {
  position: absolute;
  width: 80%;
  height: 50%;
  left: 10%;
  top: 300px;
}

#successButton {
  position: absolute;
  background-color: rgb(57, 163, 192, 0.6);
  color: white;
  text-align: center;
  font-size: 1rem;
  font-family: NeuroPolitical;
  width: 300px;
  height: 60px;
  line-height: 45px;
  left: 50%;
  margin-left: -150px;
  border-radius: 500px;
  border-width: 0px;
  border-style: solid;
  outline: none;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
}

#successButton:hover {
  background-color: rgb(57, 163, 192, 0.95);
  color: white;
}
