#userFormContainer {
  position: absolute;
  color: white;
  width: 100%;
  top: 32.5%;
  z-index: 4;
}

#userForm {
  position: absolute;
  color: white;
  width: 100%;
  z-index: 4;
}

#emailInput {
  position: absolute;
  background-color: rgb(255, 255, 255, 0.1);
  color: white;
  font-size: 1.25rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  width: 700px;
  height: 60px;
  line-height: 50px;
  top: 40px;
  left: 50%;
  margin-left: -365px;
  padding-left: 30px;
  border-radius: 500px;
  border-width: 0px;
  border-style: solid;
  outline: none;
}

#passwordInput {
  position: absolute;
  background-color: rgb(255, 255, 255, 0.1);
  color: white;
  font-size: 1.25rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  width: 700px;
  height: 60px;
  line-height: 50px;
  top: 120px;
  left: 50%;
  margin-left: -365px;
  padding-left: 30px;
  border-radius: 500px;
  border-width: 0px;
  border-style: solid;
  outline: none;
}

#formTitleText {
  position: absolute;
  color: white;
  text-align: center;
  font-size: 4.5rem;
  font-family: NeuroPolitical;
  width: 100%;
  top: -150px;
  display: block;
}

#submitButton {
  position: absolute;
  background-color: rgb(57, 163, 192, 0.6);
  color: white;
  text-align: center;
  font-size: 1rem;
  font-family: NeuroPolitical;
  width: 200px;
  height: 60px;
  line-height: 45px;
  top: 230px;
  left: 50%;
  margin-left: -100px;
  border-radius: 500px;
  border-width: 0px;
  border-style: solid;
  outline: none;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
}

#submitButton:hover {
  background-color: rgb(57, 163, 192, 0.95);
  color: white;
}

#googleLink {
  position: absolute;
  color: white;
  font-size: 0.8rem;
  text-align: center;
  width: 150px;
  top: 310px;
  left: 50%;
  margin-left: -75px;
  z-index: 5;
}

#googleLink:hover {
  color: rgb(160, 160, 160);
}
